
build/.vs/ComponentAnalyzer/v16/Browse.VC.db
.vs/CADY Take-Home Exercise/v16/.suo
*.db
build/.vs/ComponentAnalyzer/v16/.suo
build/ZERO_CHECK.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
build/ComponentAnalyzer.vcxproj.user
build/ComponentAnalyzer.vcxproj.filters
build/ComponentAnalyzer.vcxproj
build/ComponentAnalyzer.sln
build/ComponentAnalyzer.dir/Debug/vc142.pdb
build/ComponentAnalyzer.dir/Debug/main.obj
build/ComponentAnalyzer.dir/Debug/ConfigLoader.obj
build/ComponentAnalyzer.dir/Debug/ComponentManager.obj
build/ComponentAnalyzer.dir/Debug/ComponentAnalyzer.log
build/ComponentAnalyzer.dir/Debug/ComponentAnalyzer.ilk
build/ComponentAnalyzer.dir/Debug/ComponentAnalyzer.exe.recipe
build/ComponentAnalyzer.dir/Debug/Component.obj
build/ComponentAnalyzer.dir/Debug/Componen.25BB96FF.tlog/link.write.1.tlog
build/ComponentAnalyzer.dir/Debug/Componen.25BB96FF.tlog/link.read.1.tlog
build/ComponentAnalyzer.dir/Debug/Componen.25BB96FF.tlog/link.command.1.tlog
build/ComponentAnalyzer.dir/Debug/Componen.25BB96FF.tlog/CustomBuild.write.1.tlog
build/ComponentAnalyzer.dir/Debug/Componen.25BB96FF.tlog/CustomBuild.read.1.tlog
build/ComponentAnalyzer.dir/Debug/Componen.25BB96FF.tlog/CustomBuild.command.1.tlog
build/ComponentAnalyzer.dir/Debug/Componen.25BB96FF.tlog/ComponentAnalyzer.lastbuildstate
build/ComponentAnalyzer.dir/Debug/Componen.25BB96FF.tlog/CL.write.1.tlog
build/ComponentAnalyzer.dir/Debug/Componen.25BB96FF.tlog/CL.read.1.tlog
build/ComponentAnalyzer.dir/Debug/Componen.25BB96FF.tlog/CL.command.1.tlog
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/be7b36daa27f6bd3c0243d148c5aaa73/generate.stamp.rule
build/CMakeFiles/3.30.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/3.30.2/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.30.2/VCTargetsPath.vcxproj
build/CMakeFiles/3.30.2/VCTargetsPath.txt
build/CMakeFiles/3.30.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.30.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.30.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.30.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.30.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.30.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.30.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.30.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.30.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.30.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.30.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.30.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.30.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.30.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.30.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.30.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.30.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.30.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.30.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.30.2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.30.2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.30.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.30.2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.30.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.30.2/CMakeSystem.cmake
build/CMakeFiles/3.30.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.30.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.30.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.30.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.30.2/CMakeCCompiler.cmake
build/CMakeCache.txt
build/cmake_install.cmake
build/bin/Debug/ComponentAnalyzer.pdb
build/bin/Debug/ComponentAnalyzer.exe
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj
build/_deps/nlohmann_json-subbuild/ZERO_CHECK.vcxproj.filters
build/_deps/nlohmann_json-subbuild/ZERO_CHECK.vcxproj
build/_deps/nlohmann_json-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/_deps/nlohmann_json-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/_deps/nlohmann_json-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/_deps/nlohmann_json-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/_deps/nlohmann_json-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/_deps/nlohmann_json-subbuild/x64/Debug/nlohmann_json-populate/nlohmann_json-populate.recipe
build/_deps/nlohmann_json-subbuild/x64/Debug/nlohmann_json-populate/nlohmann.B7FA7EC5.tlog/nlohmann_json-populate.lastbuildstate
build/_deps/nlohmann_json-subbuild/x64/Debug/nlohmann_json-populate/nlohmann.B7FA7EC5.tlog/CustomBuild.write.1.tlog
build/_deps/nlohmann_json-subbuild/x64/Debug/nlohmann_json-populate/nlohmann.B7FA7EC5.tlog/CustomBuild.read.1.tlog
build/_deps/nlohmann_json-subbuild/x64/Debug/nlohmann_json-populate/nlohmann.B7FA7EC5.tlog/CustomBuild.command.1.tlog
build/_deps/nlohmann_json-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/_deps/nlohmann_json-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/_deps/nlohmann_json-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/_deps/nlohmann_json-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/_deps/nlohmann_json-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate.vcxproj.filters
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate.vcxproj
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate.sln
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/tmp/nlohmann_json-populate-mkdirs.cmake
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/tmp/nlohmann_json-populate-gitupdate.cmake
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/tmp/nlohmann_json-populate-gitclone.cmake
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/tmp/nlohmann_json-populate-cfgcmd.txt
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/nlohmann_json-populate-update-info.txt
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/nlohmann_json-populate-patch-info.txt
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/nlohmann_json-populate-gitinfo.txt
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/nlohmann_json-populate-gitclone-lastrun.txt
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/Debug/nlohmann_json-populate-test
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/Debug/nlohmann_json-populate-patch
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/Debug/nlohmann_json-populate-mkdir
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/Debug/nlohmann_json-populate-install
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/Debug/nlohmann_json-populate-download
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/Debug/nlohmann_json-populate-done
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/Debug/nlohmann_json-populate-configure
build/_deps/nlohmann_json-subbuild/nlohmann_json-populate-prefix/src/nlohmann_json-populate-stamp/Debug/nlohmann_json-populate-build
build/_deps/nlohmann_json-subbuild/CMakeLists.txt
build/_deps/nlohmann_json-subbuild/CMakeFiles/TargetDirectories.txt
build/_deps/nlohmann_json-subbuild/CMakeFiles/nlohmann_json-populate.dir/Labels.txt
build/_deps/nlohmann_json-subbuild/CMakeFiles/nlohmann_json-populate.dir/Labels.json
build/_deps/nlohmann_json-subbuild/CMakeFiles/generate.stamp.list
build/_deps/nlohmann_json-subbuild/CMakeFiles/generate.stamp.depend
build/_deps/nlohmann_json-subbuild/CMakeFiles/generate.stamp
build/_deps/nlohmann_json-subbuild/CMakeFiles/Debug/nlohmann_json-populate-complete
build/_deps/nlohmann_json-subbuild/CMakeFiles/CMakeConfigureLog.yaml
build/_deps/nlohmann_json-subbuild/CMakeFiles/cmake.check_cache
build/_deps/nlohmann_json-subbuild/CMakeFiles/3.30.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/_deps/nlohmann_json-subbuild/CMakeFiles/3.30.2/x64/Debug/VCTargetsPath.recipe
build/_deps/nlohmann_json-subbuild/CMakeFiles/3.30.2/VCTargetsPath.vcxproj
build/_deps/nlohmann_json-subbuild/CMakeFiles/3.30.2/VCTargetsPath.txt
build/_deps/nlohmann_json-subbuild/CMakeFiles/3.30.2/CMakeSystem.cmake
build/_deps/nlohmann_json-subbuild/CMakeFiles/169b10cc2a48a03153d1d1112f3b7d4b/nlohmann_json-populate-update.rule
build/_deps/nlohmann_json-subbuild/CMakeFiles/169b10cc2a48a03153d1d1112f3b7d4b/nlohmann_json-populate-test.rule
build/_deps/nlohmann_json-subbuild/CMakeFiles/169b10cc2a48a03153d1d1112f3b7d4b/nlohmann_json-populate-patch.rule
build/_deps/nlohmann_json-subbuild/CMakeFiles/169b10cc2a48a03153d1d1112f3b7d4b/nlohmann_json-populate-mkdir.rule
build/_deps/nlohmann_json-subbuild/CMakeFiles/169b10cc2a48a03153d1d1112f3b7d4b/nlohmann_json-populate-install.rule
build/_deps/nlohmann_json-subbuild/CMakeFiles/169b10cc2a48a03153d1d1112f3b7d4b/nlohmann_json-populate-download.rule
build/_deps/nlohmann_json-subbuild/CMakeFiles/169b10cc2a48a03153d1d1112f3b7d4b/nlohmann_json-populate-configure.rule
build/_deps/nlohmann_json-subbuild/CMakeFiles/169b10cc2a48a03153d1d1112f3b7d4b/nlohmann_json-populate-build.rule
build/_deps/nlohmann_json-subbuild/CMakeFiles/067fb579a81a3bc71173238a1458aa71/nlohmann_json-populate-complete.rule
build/_deps/nlohmann_json-subbuild/CMakeFiles/02df139acf6c2465078ff5b89c1ce3f7/nlohmann_json-populate.rule
build/_deps/nlohmann_json-subbuild/CMakeFiles/02df139acf6c2465078ff5b89c1ce3f7/generate.stamp.rule
build/_deps/nlohmann_json-subbuild/CMakeCache.txt
build/_deps/nlohmann_json-subbuild/cmake_install.cmake
build/_deps/nlohmann_json-subbuild/ALL_BUILD.vcxproj.filters
build/_deps/nlohmann_json-subbuild/ALL_BUILD.vcxproj
build/_deps/nlohmann_json-src/
build/_deps/nlohmann_json-build/nlohmann_jsonConfigVersion.cmake
build/_deps/nlohmann_json-build/nlohmann_jsonConfig.cmake
build/_deps/nlohmann_json-build/nlohmann_json.sln
build/_deps/nlohmann_json-build/nlohmann_json.pc
build/_deps/nlohmann_json-build/CMakeFiles/generate.stamp.depend
build/_deps/nlohmann_json-build/CMakeFiles/generate.stamp
build/_deps/nlohmann_json-build/cmake_install.cmake
build/_deps/nlohmann_json-build/ALL_BUILD.vcxproj.filters
build/_deps/nlohmann_json-build/ALL_BUILD.vcxproj
build/.vs/ComponentAnalyzer/v16/ipch/AutoPCH/9a024cb46e40c3b7/MAIN.ipch
build/.vs/ComponentAnalyzer/v16/ipch/AutoPCH/6f97900eabd3c094/COMPONENTMANAGER.ipch
build/.vs/ComponentAnalyzer/v16/ipch/AutoPCH/21f8d77ac214e32f/COMPONENT.ipch
build/ComponentAnalyzer.dir/Debug/Componen.ED53AEB8.tlog/link.write.1.tlog
build/ComponentAnalyzer.dir/Debug/Componen.ED53AEB8.tlog/link.read.1.tlog
build/ComponentAnalyzer.dir/Debug/Componen.ED53AEB8.tlog/link.command.1.tlog
build/ComponentAnalyzer.dir/Debug/Componen.ED53AEB8.tlog/CustomBuild.write.1.tlog
build/ComponentAnalyzer.dir/Debug/Componen.ED53AEB8.tlog/CustomBuild.read.1.tlog
build/ComponentAnalyzer.dir/Debug/Componen.ED53AEB8.tlog/CustomBuild.command.1.tlog
build/ComponentAnalyzer.dir/Debug/Componen.ED53AEB8.tlog/ComponentAnalyzer.lastbuildstate
build/ComponentAnalyzer.dir/Debug/Componen.ED53AEB8.tlog/CL.write.1.tlog
build/ComponentAnalyzer.dir/Debug/Componen.ED53AEB8.tlog/CL.read.1.tlog
build/ComponentAnalyzer.dir/Debug/Componen.ED53AEB8.tlog/CL.command.1.tlog
build/CMakeFiles/79508fbd843497859933d3f377343986/generate.stamp.rule
build/_deps/nlohmann_json-subbuild/x64/Debug/nlohmann_json-populate/nlohmann.B5A7058D.tlog/nlohmann_json-populate.lastbuildstate
build/_deps/nlohmann_json-subbuild/x64/Debug/nlohmann_json-populate/nlohmann.B5A7058D.tlog/CustomBuild.write.1.tlog
build/_deps/nlohmann_json-subbuild/x64/Debug/nlohmann_json-populate/nlohmann.B5A7058D.tlog/CustomBuild.read.1.tlog
build/_deps/nlohmann_json-subbuild/x64/Debug/nlohmann_json-populate/nlohmann.B5A7058D.tlog/CustomBuild.command.1.tlog
build/_deps/nlohmann_json-subbuild/CMakeFiles/7a6f94309b1c4c1fd7aa1992991fa75d/nlohmann_json-populate-complete.rule
build/_deps/nlohmann_json-subbuild/CMakeFiles/770a1699b35cc426e18ab33980519c02/nlohmann_json-populate-update.rule
build/_deps/nlohmann_json-subbuild/CMakeFiles/770a1699b35cc426e18ab33980519c02/nlohmann_json-populate-test.rule
build/_deps/nlohmann_json-subbuild/CMakeFiles/770a1699b35cc426e18ab33980519c02/nlohmann_json-populate-patch.rule
build/_deps/nlohmann_json-subbuild/CMakeFiles/770a1699b35cc426e18ab33980519c02/nlohmann_json-populate-mkdir.rule
build/_deps/nlohmann_json-subbuild/CMakeFiles/770a1699b35cc426e18ab33980519c02/nlohmann_json-populate-install.rule
build/_deps/nlohmann_json-subbuild/CMakeFiles/770a1699b35cc426e18ab33980519c02/nlohmann_json-populate-download.rule
build/_deps/nlohmann_json-subbuild/CMakeFiles/770a1699b35cc426e18ab33980519c02/nlohmann_json-populate-configure.rule
build/_deps/nlohmann_json-subbuild/CMakeFiles/770a1699b35cc426e18ab33980519c02/nlohmann_json-populate-build.rule
build/_deps/nlohmann_json-subbuild/CMakeFiles/58425ab51f04f44951cda22e66de16fb/nlohmann_json-populate.rule
build/_deps/nlohmann_json-subbuild/CMakeFiles/58425ab51f04f44951cda22e66de16fb/generate.stamp.rule
build/.vs/ComponentAnalyzer/v16/ipch/AutoPCH/fd0c25f953e66690/COMPONENTMANAGER.ipch
build/.vs/ComponentAnalyzer/v16/ipch/AutoPCH/c66e736997304beb/MAIN.ipch
build/.vs/ComponentAnalyzer/v16/ipch/AutoPCH/ae88257289910b53/COMPONENT.ipch
build/.vs/ComponentAnalyzer/v16/ipch/AutoPCH/1b81de0c0f193bbf/CONFIGLOADER.ipch
